body {
    background-color: black;
    font-family: "Source Code Pro";
    color: #00d700;
}

h1{
    font-size: 45pt;
    font-weight: 700
}

h2{
    font-size: 32pt;
    font-weight: 700
}

h5{
    font-size: 27pt;
    font-weight: 700
}

.align-center{
    text-align: center;
    align-content: center;
}

.align-right{
    text-align: right;
    align-content: right;
}