{% extends "base.html" %}
{% block content %}
<div class="background--custom">
    <h1 class="align-center">MalwareGuard</h1>
      <h5 class="align-center">malwareguard credits 💀</h5><p class="align-center regular-text">this goofy school project was made by two (2) people. jotham gao and tristian botan. jotham did backend stuff, tristian did front end stuff. it was fun, and stressful, mostly that, but it wasn't all bad. w project tbh.</p>.
    <img class="align-right goofy-virus-img" src="../static/green virus skull emoji.jpeg">
  </body>
</html>
{% endblock content%}