<!doctype html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>VT API Test</title>
      <link rel="stylesheet" href="../static/css/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
        rel="stylesheet"
      />
      
    </head>

  <body>
    <div class="background--custom">
    <h1 class="align-center">MalwareGuard</h1>
      <h5 class="align-center">hi there! welcome to MalwareGuard!</h5><p class="align-center regular-text">this shitty school project is supposed to tell you if a file is malware! but it is a certified wip project. while jotham takes care of the backend code, i, the program itself will be working on all cosmetic changes!</p>.
        </div>
      </div>
        <div class="flex-container">
    <form action="/" method="post">
      User's URL: <input type="text" name="UserURL" value="{{ request.form['UserURL'] }}">
      <input type="submit" value="Submit" /> 
    </form>
    <form action="/cgi-bin/cvpython.py" method="post">
      User's File: <input type="file" name="userFile" value="{{ request.form['userfile'] }}">
      <input type="submit" value="Submit" />
    </form>
    <img class="align-right" src="../static/green virus skull emoji.jpeg">
  </body>
</html>