{% extends "base.html" %}
{% block content %}
<body>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">adware</h5>
          <p class="card-text">adware is a type of malware that fills your computer's monitor with ad windows, and takes away from your computer's resources.</p>
          <a href="https://www.google.com/search?q=adware+malware" class="btn btn-primary">adware</a>
        </div>
    </div>

    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">banker</h5>
          <p class="card-text">a type of trojan malware that gets banking info from the recipient of the virus.</p>
          <a href="https://www.google.com/search?q=banker+malware" class="btn btn-primary">banker</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">downloader</h5>
          <p class="card-text">this type of malware installs itself somewhere on your computer until it finds an internet connection to download other files from somewhere else, usually more malware.</p>
          <a href="https://www.google.com/search?q=downloader+malware" class="btn btn-primary">downloader</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">dropper</h5>
          <p class="card-text">installs more malware to your computer.</p>
          <a href="https://www.google.com/search?q=dropper+malware" class="btn btn-primary">dropper</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">fakeav</h5>
          <p class="card-text">pretend to be an antivirus application, and say "OMG!!!11!!1! A VIRUS AAAHHHHHHHHHHHHH PRESS THIS BUTTON TO REMVE THE VIRUS" when there is really no virus except the program making that notification. they also slow down your computer, to make you think that there is actually a virus.</p>
          <a href="https://www.google.com/search?q=fakeav+malware" class="btn btn-primary">fakeav</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">hacktool</h5>
          <p class="card-text">hacktools are not necesarily malware, but they can come with malware, or other things you dont want. hacktools are what's used to make cracked versions of applications.</p>
          <a href="https://www.google.com/search?q=hacktool+malware" class="btn btn-primary">hacktool</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">miner</h5>
          <p class="card-text">this kind of malware hijacks your computers resources to mine crypto currencies.</p>
          <a href="https://www.google.com/search?q=miner+malware" class="btn btn-primary">miner</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">phishing</h5>
          <p class="card-text">phishing malware pretends to be something else to get sensitive information, like banking details, account passwords, etc.</p>
          <a href="https://www.google.com/search?q=phishing+malware" class="btn btn-primary">phishing</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">pua</h5>
          <p class="card-text">pua stands for potentially unwanted software. these things usually come with actual software, for instance, things like mcafee antivirus.</p>
          <a href="https://www.google.com/search?q=pua+malware" class="btn btn-primary">pua</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">ransomware</h5>
          <p class="card-text">ransomware encrypts your files and tells you to pay money to whoever to get your files back.</p>
          <a href="https://www.google.com/search?q=ransomware+malware" class="btn btn-primary">ransomware</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">spyware</h5>
          <p class="card-text">spyware checks out your computer for things like hardware info usually.</p>
          <a href="https://www.google.com/search?q=spyware+malware" class="btn btn-primary">spyware</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">trojan</h5>
          <p class="card-text">these are virus that trick you into running them because they say they will do this thing when they don't, and the thing that actually do is usually malicious.</p>
          <a href="https://www.google.com/search?q=trojan+malware" class="btn btn-primary">trojan</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">virus</h5>
          <p class="card-text">virus is a word that is used as a synonym of malware, but it can also mean a program that just messes up your computer with usuually no benefit to whoever has given you the virus.</p>
          <a href="https://www.google.com/search?q=virus+malware" class="btn btn-primary">virus</a>
        </div>
    </div>
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">worm</h5>
          <p class="card-text">a type of trojan that replicates like a real virus in real life</p>
          <a href="https://www.google.com/search?q=worm+malware" class="btn btn-primary">worm</a>
        </div>
    </div>
    </body>
</html>
{% endblock content %}